<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Add a New Contact</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="static/css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	</head>
	<script>
		$("button").click(function(){
  		$.get("http://127.0.0.1:5000/options", osearch(data, status){
    	alert("Data: " + data + "\nStatus: " + status);
  	});
	});
</script>

	<body>
		<form name="add form" method ="post">
		<div class="wrapper">
			<div class="inner">
				<form action="http://127.0.0.1:5000/options">
					<h3>Add Contact</h3>
					<label class="form-group">
						<input type="text" class="form-control"  required id="name" name="name">
						<span>Name</span>
						<span class="border"></span>
					</label>
					<label class="form-group">
						<input type="text" class="form-control"   name="email">
						<span for="">Email-address</span>
						<span class="border"></span>
					</label>
					<label class="form-group" >
						<input type = "tel" id="" class="form-control" required name="no" maxlength="10"></textarea>
						<span for="">Contact No.</span>
						<span class="border"></span>
					</label>
					<button name="button">Submit 
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
	</form>
		
</html>