<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Contact Book Options</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="static/css/options.css">
        
	</head>

	<body>
        <form name="options" action="http://127.0.0.1:5000/options" >
        <h1>Please Choose from the operations </h1>
        <a  href = "/osearch" name="search">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Search Contact
        </a>
        <a href="/oadd" name="add">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Add Contact
        </a>
        <a href="/odelete" name="delete">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Delete Contact
        </a>
        <a href="/oreplace" name="modify">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Replace Contact
        </a>
    </form>
    </body>
</html>