<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Modify Contact</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="static/css/style.css">
	</head>

	<body>
		<form name="add form" method ="post">
		<div class="wrapper">
			<div class="inner">
				<form action="http://127.0.0.1:5000/options">
					<h3>Modify Contact</h3>
					<label class="form-group">
						<input type="text" class="form-control"  required name="name">
						<span>Name</span>
						<span class="border"></span>
					</label>
					<label class="form-group" >
						<input type = "tel" id="name" name="no" class="form-control" required maxlength="10"></textarea>
						<span for="">Contact No.</span>
						<span class="border"></span>
					</label>
					<button>Submit 
						<i class="zmdi zmdi-arrow-right"></i>
					</button>
				</form>
			</div>
		</div>
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>